body {
  margin: 0;
  font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
  color: #403b3b;
  width: 100%;
}

@font-face {
  font-family: 'Cooper Light';
  src: url('./fonts/Cooper-Light-BT_11756.ttf');
}

.container {
  padding: 0 8%;
}

button {
  padding: 10px;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}